# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/.idea
/.vscode

/src/styles/tailwind.css

npm-debug.log*
yarn-debug.log*
yarn-error.log*
public/assets/books/harry-potter-book-1.pdf
public/assets/books/harry-potter-book-2.pdf
public/assets/books/harry-potter-book-3.pdf
public/assets/books/harry-potter-book-4.pdf
public/assets/books/harry-potter-book-5.pdf
public/assets/books/harry-potter-book-6.pdf
public/assets/books/harry-potter-book-7.pdf
public/assets/books/harry-potter-book-8.pdf
public/assets/images/books/h1.jpg
public/assets/images/books/h2.jpg
public/assets/images/books/h3.jpg
public/assets/images/books/h4.jpg
public/assets/images/books/h5.jpg
public/assets/images/books/h6.jpg
public/assets/images/books/h7.jpg
public/assets/images/books/h8.jpg
